

</section>


<section class="footer"  >

  <footer class="row row-cols-1 row-cols-sm-2 row-cols-md-5 py-5 my-5 border-top">
    <div class="col mb-3">
      <a href="/" class="d-flex align-items-center mb-3 link-body-emphasis text-decoration-none" aria-label="Bootstrap">
        <svg class="bi me-2" width="40" height="32" aria-hidden="true"><use xlink:href="#bootstrap"></use></svg>
      </a>
      <p class="text-body-secondary">© 2025</p>
    </div>

    

    <div class="col mb-3  ">
      <h5>MORE</h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Team</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Catalog</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Contact</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Owner</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">History</a></li>
      </ul>
    </div>

    <div class="col mb-3   ">
      <h5>know more</h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Home</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Features</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Pricing</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">FAQs</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">About</a></li>
      </ul>
    </div>


    <div class="col mb-3    ">
      <h5>Inventory</h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">TRACK</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Shorts</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">T-shirt</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Socks</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Women</a></li>
      </ul>
    </div>


    <div class="col">
      <a href="https://instagram.com" target="_blank" class="me-3">
        <img src="instagram.svg" alt="Instagram" class="img-fluid">
      </a>
      <a href="https://twitter.com" target="_blank" class="me-3">
        <img src="twitter.svg" alt="Twitter" class="img-fluid">
      </a>
      <a href="https://wa.me/1234567890" target="_blank">
        <img src="whatsapp.svg" alt="WhatsApp" class="img-fluid">
      </a>
    </div>


</footer>